fieldset {
  width: 70%;
  /* display: flex; */
  /* justify-content:baseline; */
  /* align-items:baseline; */
 align-self: center;
 margin:0 auto;
}
body{
    background-color: azure;
}
fieldset{
    background-color: aquamarine;
}
hr{
    border-color: black;
}
#heading{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap:unset;
    background-color: rgb(164, 108, 216);
    
}
#heading h1{
    margin-bottom: 0%;
}
legend{
    text-align: center;
    font-size: large;
}
#heading h2{
    margin-top:0%;
}
#p{
    display: inline;
}
legend{
    text-decoration: underline;
    font-size:larger;
}
