h1{
    background-color: hwb(16 10% 25%);
}
.just{
    text-align: justify;
}
.word{
    font-weight: bold;
}

a{
    text-decoration:none;
}

.para{
    text-decoration:underline;
}
/* body{
    background-image: url(https://img.freepik.com/free-photo/2d-graphic-wallpaper-with-colorful-grainy-gradients_23-2151001501.jpg?t=st=1703432150~exp=1703435750~hmac=a9cd179ca16e560a155f95f6e7b41e8703db026a18b0be5b593c919cbc6d9aaf&w=360);
    background-repeat: repeat-x; 
    background-position: center;
    background-size: cover;
} */

body{
    background: linear-gradient(to bottom,  #FF671F,white,#046A38);
    background-repeat:no-repeat;
    background-attachment: fixed;
    /* background: conic-gradient(from 0deg, yellow,violet,green,yellow); */
    /* background: radial-gradient(circle at center,rgb(109, 6, 109) 20%,rgb(53, 189, 234),yellow) */
    /* background: radial-gradient(circle at center, red 0, blue, green 100%) */
    /* background: radial-gradient(circle at center in hsl longer hue, red 0, blue, green 100%); */
    /*background-size:contain;
    background-position: center; */
}

img{
    height: 200px;
    width: 200px;
}
caption{
    font-size: large;
}
